
@import url(https://fonts.googleapis.com/css?family=Catamaran:400,300);

body {
	font-family: 'Catamaran', sans-serif;
	text-align: center;
	color: purple;
	background-color: grey

}
h1 {
    font-family: 'Catamaran', sans-serif;
    text-align: center;
    color: white
    font weight: bold;
}
#slogan {
	font-style: italic;
}

header {
	background-color: #d7c6cf;
	border: 1px black solid;
	padding: 5%;
}

nav {
	background-color: #8caba8;
	border: 1% black solid;
	padding: 5%;
}

aside {
	background-color: #83adb5;
	border: 1% black solid;
	padding: 5%;
}

article {
	background-color: #d7c6cf;
	border: 1% black solid;
	padding: 5%;
}

footer {
	background-color: #8caba8;
	border: 1% black solid;
	padding: 5%;
}

div/section {
	background-color: #83adb5;
	border: 1% black solid;
	padding: 5%;
}

#two_column {
	background-color: ##83adb5;
	boarder: 1% black solid;
	padding: 5%;
}

#left {
	background-color: ##d7c6cf;
	border: 1% black solid;
	padding: 5%;
	float: left;
	width: 38%;
}

#right {
	background-color: #8caba8;
	border: 1% black solid;
	padding: 5%;
	float: right;
	width: 40%;
	height: 30%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

img {
	width: 30%;
}

@media screen only and (max-width: 500px) {
	body {
		font-size: 10px;
	}
	h1 {
		font-size: 12px;
	}

}

@media screen only and (min-width: 100px) {
	body {
		font-size: 14px;
	}
	h1 {
		font-size: 16 px;
	}
}
