
@import url(https://fonts.googleapis.com/css?family=Catamaran:400,300);

body {
	font-family: 'Catamaran', sans-serif;
	text-align: center;
	color: purple;
	background-color: grey

}
h1 {
    font-family: 'Catamaran', sans-serif;
    text-align: center;
    color: white
    font weight: bold;
}
#slogan {
	font-style: italic;
}